{{ 'accordion.css' | asset_url | stylesheet_tag }}

<details is="accordion-item" class="accordion__item">
  <summary class="accordion__item-trigger">
    <p class="accordion__item-trigger-subject">{{ subject }}</p>
    <div class="angle-down">
      <svg
        viewBox="0 0 448 512"
        fill="currentColor"
        height="1em"
        width="1em">
        <path d="M201.4 374.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 306.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z" />
      </svg>
    </div>
  </summary>
  <div class="accordion__item-content">{{ content }}</div>
</details>