{% style %}
  .feature-checklist-item {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
  }
  .feature-checklist-item__name {
    color: #2D2E2E;
  }
  .feature-checklist-item__icon {
    color: #3A4F39;
  }
{% endstyle %}


<div class="feature-checklist-item">
  <span class="feature-checklist-item__icon">
    {% if isSelected %}
      <svg
        width="18"
        height="12"
        viewBox="0 0 18 12"
        fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path d="M6.33282 9.9188L2.41382 5.9998C2.22629 5.81233 1.97198 5.70702 1.70682 5.70702C1.44165 5.70702 1.18735 5.81233 0.999818 5.9998C0.812347 6.18733 0.707031 6.44164 0.707031 6.7068C0.707031 6.97197 0.812347 7.22627 0.999818 7.4138L4.91882 11.3328C5.10455 11.5186 5.32506 11.666 5.56776 11.7666C5.81047 11.8671 6.07061 11.9189 6.33332 11.9189C6.59603 11.9189 6.85617 11.8671 7.09887 11.7666C7.34158 11.666 7.56209 11.5186 7.74782 11.3328L16.9998 2.08081C17.1873 1.89328 17.2926 1.63897 17.2926 1.37381C17.2926 1.10864 17.1873 0.854337 16.9998 0.666809C16.8123 0.479338 16.558 0.374023 16.2928 0.374023C16.0277 0.374023 15.7733 0.479338 15.5858 0.666809L6.33282 9.9188Z" fill="#3A4F39" />
      </svg>
    {% else %}
      <svg
        width="14"
        height="14"
        viewBox="0 0 14 14"
        fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path d="M13.0001 0.999818C12.8125 0.812347 12.5582 0.707031 12.2931 0.707031C12.0279 0.707031 11.7736 0.812347 11.5861 0.999818L7.00006 5.58582L2.41406 0.999818C2.22653 0.812347 1.97223 0.707031 1.70706 0.707031C1.4419 0.707031 1.18759 0.812347 1.00006 0.999818C0.812591 1.18735 0.707275 1.44165 0.707275 1.70682C0.707275 1.97198 0.812591 2.22629 1.00006 2.41382L5.58606 6.99982L1.00006 11.5858C0.812591 11.7733 0.707275 12.0277 0.707275 12.2928C0.707275 12.558 0.812591 12.8123 1.00006 12.9998C1.18759 13.1873 1.4419 13.2926 1.70706 13.2926C1.97223 13.2926 2.22653 13.1873 2.41406 12.9998L7.00006 8.41382L11.5861 12.9998C11.7736 13.1873 12.0279 13.2926 12.2931 13.2926C12.5582 13.2926 12.8125 13.1873 13.0001 12.9998C13.1875 12.8123 13.2928 12.558 13.2928 12.2928C13.2928 12.0277 13.1875 11.7733 13.0001 11.5858L8.41406 6.99982L13.0001 2.41382C13.1875 2.22629 13.2928 1.97198 13.2928 1.70682C13.2928 1.44165 13.1875 1.18735 13.0001 0.999818Z" fill="#3A4F39" />
      </svg>

    {% endif %}
  </span>
  <p class="feature-checklist-item__name">{{ name }}</p>
</div>