{% schema %}
{
 "name": "BestSeller"
}
{% endschema %}

<section class="best-seller">
 <article class="best-seller__product">
  <div class="product__image">
   <img width="" height="" src="https://reelscustom.com/cdn/shop/files/astronaut-lying-on-the-moon-space-artwork-led-neon-sign-841952.jpg?v=1713523959&width=360" alt="PRODUCT_IMG">
  </div>
  <div class="product__info">
   <a href="#" class="product__info-name">Astronaut Lying On The Moon Space Artwork Led Neon Sign</a>
   <a href="#" class="product__info-price">From $255.00 USD</a>
   <a href="#" class="product__info-rating">
    <span class="star star--empty">
     <svg width="25px" height="25px" viewBox="0 0 25 25" class="icon icon-star icon-star--full"><polygon fill-rule="nonzero" points="16.2212909 8.77064179 12.5128412 0.870224269 8.80343056 8.77064179 0.512841234 10.0374085 6.51243703 16.1862739 5.09643337 24.8702243 12.5128412 20.7696377 19.9292491 24.8702243 18.5122845 16.1862739 24.5128412 10.0374085"></polygon></svg>
    </span>
   </a>
  </div>
 </article>
</section>