.accordion {
  width: 460px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.accordion__content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.accordion__item {
  min-height: 40px;
  border-bottom: 1px solid #f1f1f1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.accordion__item-trigger {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.accordion__item-trigger-subject {
  font-weight: 600;
}
.accordion__item-trigger:hover {
  text-decoration: underline;
  cursor: pointer;
}

.angle-down {
  transition: all 0.3s ease-in-out;
}
.angle-down.expanded {
  transform: rotate(-180deg);
}

details {
  transition: all 0.3s ease-in-out;
}

details[open] {
  transition: all 0.3s ease-in-out;
}

details > summary {
  cursor: pointer;
  padding: 0.5rem;
  font-weight: bold;
}

details > div {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

details[open] > div {
  max-height: 500px;
}
